<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
    <meta charset="UTF-8">
    <title>Italian Prosody Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/app.js"></script>

    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"-->
    <link rel="stylesheet" type="text/css" href="/static/stylejs.css">
  </head>
  <body>
    <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                {% endif %}
    </ul>
    <!--Sentence text to be rendered below-->
        {% if repetition=='0' %}
            {% if sent_type == 'STATEMENT: ' %}
            <h1>Listen to the native speaker, then record yourself imitating their intonation:</h1>
            {% elif sent_type=='QUESTION: ' %}
            <h1>Now try it as a Question:</h1>
            {% endif %}
        {% elif repetition=='1' %}
            {% if sent_type=='STATEMENT: ' %}
            <h1>Try this statement again:</h1>
            {% elif sent_type=='QUESTION: ' %}
            <h1>Try it again as a question:</h1>
            {% endif %}
        {% endif %}

        {% if textplot %}
        <div id="textplot">
            <style>
                @media screen and (min-width: 320px){
                    img {max-width: 70%}
                }

            </style>
        <img src="{{ url_for('/record.return_textplot_file', chaptername=recording, filename=textplot) }}">
        </div>
        {% endif %}
        <h3> {{ sent_type }} {{ sentence }} </h3>
        <audio id = "audio" hidden>
            <!--source src="http://127.0.0.1:5000/Recordings/Sentence1_dec.wav" type="audio/wav" -->
            <source src="{{ url_for('/audio.download_file', chaptername=recording)}}" type="audio/wav">
        </audio>
        <audio id="bell" hidden>
          <source src="{{ url_for('/audio.get_bell')}}" type="audio/wav">
        </audio>
        <!--We use a recorder credited in the comments below-->
        <!--<h1>Simple Recorder.js demo</h1>
        <p><small>Made by the <a href="https://addpipe.com" target="_blank">Pipe Video Recording Platform</a></small></p>
        <p>This demo uses <a href="https://github.com/mattdiamond/Recorderjs" target="_blank">Recorder.js</a> to record wav/PCM audio directly in the browser. Matt Diamond‘s <a target="_blank" href="https://github.com/mattdiamond/Recorderjs">Recorder.js</a> is a popular JavaScript library for recording audio in the browser as uncompressed pcm audio in .wav containers. Before it, the only way to record audio was to use Flash.</p>
        <p>Check out the <a href="https://github.com/addpipe/simple-recorderjs-demo" target="_blank">code on GitHub</a> and <a href="https://addpipe.com/blog/using-recorder-js-to-capture-wav-audio-in-your-html5-web-site/" target="_blank">our blog post on using Recorder.js to capture WAV audio</a>.</p>-->
        <div id="controls">
         <button id="playButton">Play Recording</button>
         <button id="recordButton" disabled>Record</button>
         <!--button id="pauseButton" disabled>Pause</button-->
         <button id="stopButton" disabled>Stop</button>
        </div>
    <h1>Progress</h1>
    <progress value={{ progress }} max="100">{{ progress }} </progress>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>