<!DOCTYPE html>
{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>
          <h1><a class="action" href="{{ url_for('/instructions.intro') }}">Instructions</a></h1>
        </div>
      </header>
    </article>
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <!--TODO: remember session 3 only has generalization as condition-->
          <h1><a class="action" href="{{ url_for('/instructions.test_recordings', is_session='True') }}">{{ post }}</a></h1>
        </div>
      </header>
    </article>
  {% endfor %}
{% endblock %}