<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Recordings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Test Recordings</h1>
<p>
    In this section you will read Italian statements and questions out loud.
</p>
<img width=25% src="{{ url_for('/instructions.get_image', filename='baseline_interface.png') }}">
<p>
    Click 'Start' to start recording. Your browser will probably ask you if you want to allow
    the website to use your microphone. Once you allow this the recorder
    will initialize. This can take a few seconds, so a “Wait…” message
    will appear under the controls.
</p>
<img width=25% src="{{ url_for('/instructions.get_image', filename='wait_message.png') }}">
<p>
    The recording won’t start until this
    message turns to “Go!”. While recording, try to make sure you, or anyone
    around you don't make any noise since it could interfere with the processing.
</p>
<img width=25% src="{{ url_for('/instructions.get_image', filename='Go_message.png') }}">
<p>
    Once you have recorded your voice, you can press the “Stop”
    button, which will stop the recorder and store the audio on the server.
    This button should also make the “Next Activity” button available,
    which will take you to the next sentence.
</p>

{% if next_panel == 'pre_train' %}
    <a href="{{ url_for('/record.record', session='Session 1', trial_type='pre_train', chapterorder='0') }}">Continue to Session</a>
{% elif next_panel == 'menu' %}
    <a href="{{ url_for('/instructions.training', is_session=False) }}">Next: Training</a>
{% endif %}
</body>
</html>