<!DOCTYPE html>

{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
  <p>Welcome to our site!
    Create an account with the <b>same username</b> you entered in the Google form, then log in to get started!</p>
  <p>
    <b>Save your password</b> or write it somewhere so you remember.
  </p>
  <p>
    Your password will be emailed to you — <b>please do not choose a password you use for any other website. </b>
  </p>
{% endblock %}
{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="email">Email</label>
    <input name="email" id="email" required>
    <input type="submit" value="Register">
  </form>

{% endblock %}