<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
<ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% endif %}
</ul>
</nav>
<h1>Pausa</h1>
<p>
    Se ti senti stanco/a questo è un buon punto per fermarti e fare una pausa.
    Puoi ricominciare l’esperimento quando sei pronto/a
</p>
    <h1><a class="action" href="{{ url_for('/ns_task.display_trial', trial_order=trial_order) }}">Continue!</a></h1>
</body>
</html>