<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>End message</title>
      <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>

<h1>You are all done, thanks again!</h1>
<ul>
    {% if g.user %}
      <span>{{ g.user['username'] }}</span>
      <a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% endif %}
</ul>


</body>
</html>