<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
<ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% endif %}
</ul>
</nav>
<h1>Done for the day!</h1>
<p>
    Thank you for completing today's session! Come back tomorrow to complete the next one
</p>
</body>
</html>