<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Automatic Pitch Tracing Demo</title>
</head>
<body>
    <article class="post">
      <header>
        <div>
          <h1><a class="action" href="{{ url_for('/demo.intro') }}">Italian Sentence Example</a></h1>
        </div>
        <div>
          <h1><a class="action" href="{{ url_for('/demo.own_recording') }}">Use Your Own Recording</a></h1>
        </div>
      </header>
    </article>
</body>
</html>