<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Learning Italian Intonation</h1>
<p>
    This study is aimed at understanding
    how people learn intonation in a second language.
    You will be asked to complete two training sessions
    and a follow up. Each session will be conducted in this website.
</p>
<p>
    Things you'll need:
</p>
<ul>
    <li>A quiet space to work in.</li>
    <li>A microphone (if you have a quality mic that is best).</li>
    <li>An internet connection</li>
</ul>
<p>
    For each session, you will log in to the website
    with the username and password that have been provided to you.
    Each session consists of three parts, first you will make recordings
    of you reading a few sentences outloud, then you will do a training, and
    finally you will record some more sentences at the end.
</p>
<p>
    If you run into any issues, contact cadelafuente@ucsb.edu for support.
</p>
    <a href="{{ url_for('/record.index') }}">Back to menu</a>
</body>
</html>