<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
<ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% endif %}
</ul>
</nav>
<h1>Learning Italian Intonation</h1>

{% if post=='Session_1' %}
<p>
    Welcome to our online Italian intonation training!
    You'll practice the melodies of Italian statements and questions.
</p>
<p>
 The study consists of three sessions:
</p>

<ol>
    <li>Today: training (30 minutes max)</li>
    <li>In one week: training (30 minutes max)</li>
    <li>In two weeks: follow-up (15 minutes max)</li>
</ol>
<p>
Let’s check your set-up to make sure everything works smoothly.
</p>
    {% elif post=='Session_2' %}
<p>
    Welcome to the second Session of your training! As you may remember from last week we are testing a training for intonation (the melody of speech) in Italian, distinguishing statements and questions.

</p>
<p>
    Reminder of equipment requirements:
</p>
{% elif post=='Session_3' %}
<p>
    Welcome to the last Session of your training! This will be a shorter session, to see how well you remembered what you learned.
    Afterwards we would appreciate it if you could give us a little feedback by following the link at the end.
</p>
<p>
    Here's a reminder of what you need:
</p>
{% endif %}


<ul>
    <li>Use <b>Google Chrome</b> if possible. Otherwise Firefox also works well. Safari gives some performance issues.</li>
    <li>Make sure you have a quiet space to work in.</li>
    <li><a class="action" href="{{ url_for('/instructions.mic_test', post=post) }}">Check your Microphone.</a></li>
</ul>

<p>

    If you run into any issues or the website freezes, try refreshing the page. For most errors this is a quick fix.
    If that does not work please contact us.
</p>
    <h1><a class="action" href="{{ url_for('/survey.equipment_survey', post=post) }}">I'm ready!</a></h1>

</body>
</html>