<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post-test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Last section</h1>
<p>
    Well done, you finished your first training! Now for the last
    section we want to ask you to record some more sentences. Almost done!
</p>

    <a href="{{ url_for('/record.record', session='Session 1', trial_type='post_train', chapterorder='0') }}">Continue</a>

</body>
</html>