<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta charset="UTF-8">
    <title>Post-test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Last section</h1>
<p>
Well done, you finished your training! Let’s end by recording a few new sentences.
</p>
<p>
Again, remember to wait until the record button turns green to begin speaking, and don’t
    worry if you mispronounce a word since we are focusing on intonation.

</p>
<h1>
    <a href="{{ url_for('/record.record', session=session, trial_type='post_train', chapterorder='0') }}">Continue</a>
</h1>
</body>
</html>