<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta charset="UTF-8">
    <title>Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Rater Instructions</title>
</head>
<body>
<h1>Ciao e benvenuto/a al nostro esperimento! </h1></br> Stiamo studiando l’intonazione, ovvero la melodia della lingua parlata. Studiando una lingua straniera spesso si fa fatica ad imparare l’intonazione corretta della lingua oggetto di studio.

Nella prima fase di questo studio, dei madrelingua inglese che studiano italiano hanno seguito un corso di formazione online con l’obiettivo di aiutarli a migliorare la loro intonazione in italiano. Agli studenti è stato chiesto di leggere alcune frasi ad alta voce, seguire il corso di formazione, e leggere altre frasi ad alta voce.

Ti chiediamo di ascoltare alcune coppie di registrazioni e indicare quale registrazione è stata registrata in seguito al corso di formazione. In altre parole, ti chiediamo di indicare quale registrazione suona più naturale o italiana. Per quanto possibile, cerca di basarti solamente sull’intonazione e non sulla pronuncia delle parole.

In alcuni casi potrebbe essere difficile indicare quale delle due registrazioni sia migliore dell’altra. Questo non è un problema. Segui l’istinto e, se non trovi una risposta, cerca di indovinare.


    <h1><a class="action" href="{{ url_for('/ns_task.display_trial', trial_order=0, test_trial='True') }}">Cominciare</a></h1>
</body>
</html>