<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Recordings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<p>
    Once you click on that button you will be directed
    to the following interface:
</p>
<img width=25% src="{{ url_for('/instructions.get_image', filename='baseline_interface.png') }}">
<p>
    Here, you are asked to make some preliminary recordings so
    that we can measure where you are in the learning process.
    The interface has  three buttons, only one which will be available
    at a time. The first button “Start” will tell your browser to start
    recording. Your browser will probably ask you if you want to allow
    the website to use your microphone. Once you allow this the recorder
    will initialize. This can take a few seconds, so a “Wait…” message
    will appear under the controls.
</p>
<img width=25% src="{{ url_for('/instructions.get_image', filename='wait_message.png') }}">
<p>
    The recording won’t start until this
    message turns to “Go!”.
</p>
<img width=25% src="{{ url_for('/instructions.get_image', filename='Go_message.png') }}">
<p>
    Once you have recorded your voice, you can press the “Stop”
    button, which will stop the recorder and store the audio on the server.
    This button should also make the “Next Activity” button available,
    which will take you to the next sentence.
</p>
<a href="{{ url_for('/instructions.training') }}">Next: Training</a>

</body>
</html>