<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta charset="UTF-8">
    <title>Test Recordings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Instructions</h1>

{% if post_name != 'Session 3' %}
<p>Today’s activity has 3 parts:</p>

<ol>
    <li>Speaking</li>
    <li>Training</li>
    <li>Applying what you’ve learned to new sentences</li>
</ol>
<p>
For the first section, you’ll record 4 pairs of statements and questions.
    We are focusing on intonation (the melody of the sentence), so don’t worry if you mispronounce a word.
</p>
<ul>
    <li>To start recording, click "Start" or press the spacebar.</li>
    <li>Your browser will probably ask you if you want to allow the website to use your microphone before your first recording.</li>
    <li>Don't start speaking until the record button turns green.</li>
    <li>To stop recording, click "Stop" or press the spacebar.</li>
    <li>Then click "Next Activity" or press the spacebar again to move on.</li>
    <li>Remember if the website freezes, try refreshing the page.</li>
</ul>

{% elif post_name == 'Session 3' %}

<p>Today's activity only has one section.
    We want you to try to remember what you learned the last two trainings and apply it to some nes sentences</p>

{% endif %}


<h1><a class="action" href="{{ url_for('/record.record', session=post, trial_type='pre_train', chapterorder=0) }}">Let's get Started!</a></h1>

</body>
</html>