<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta charset="UTF-8">
    <title>Test Recordings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Instructions</h1>
<p>
    In this section you will read Italian statements and questions out loud.
    Try to avoid extra noise while recording as it can interfere with processing.
</p>
<p>

To start recording, click "Start" or press the spacebar.
    <b>Don't start speaking until the record button turns green.</b>
    Your browser will probably ask you if you want to allow the website to use your microphone before your first recording.
    If this request appears each time you try to record please contact us. Due to performance issues that can sometimes arise
    on other browsers, we recommend that you use Google Chrome.
</p>
<p>
To stop recording, click "Stop" or press the spacebar.
    Then click "Next Activity" or press the spacebar again to move on.

</p>
<h1><a class="action" href="{{ url_for('/record.record', session=post, trial_type='pre_train', chapterorder=0) }}">Start {{ post_name }}</a></h1>

</body>
</html>