<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Training</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Training</h1>
<p>
    In this section,  you will listen to a native speaker of Italian and try to match their intonation.
    Press the “Play Recording” to listen to a recording of a native speaker pronouncing
    the sentence.
</p>
{% if condition == 'a' %}
<img width=25% src="{{ url_for('/instructions.get_image', filename='training_interface.png') }}">
<p>
    Press “Record”, wait for the “Go!” sign,
    and try to imitate the native speaker’s production.
    Once you press “Stop”, you will be redirected to another page
    (this may take a few seconds to process).
</p>
<img width="25%" src="{{ url_for('/instructions.get_image', filename='post_trial.png') }}">
<p>
    This page will display a plot of your intonation against
    the native speaker, so you can compare both traces and see
    what you did right and what you did wrong. The example
    here is from a learner who hasn't quite hit the right intonation
    pattern but is almost there. You can see that the second syllable
    has quite a different intonation when compared to the native speaker,
    but the rest of the sentence aligns. You can evaluate your own intonation
    visually like this, and you also have the opportunity to listen to yourself
    by pressing "Listen to yourself". Try to order get a better idea of where
    you went wrong by listening to your recording and comparing the pitch traces.
</p>
{% elif condition == 'b' %}
<img width="25%" src="{{ url_for('/instructions.get_image', filename='control_training.png') }}">
<p>
    Press “Record”, wait for the “Go!” sign,
    and try to imitate the native speaker’s production.
    Once you press “Stop”, you will be redirected to another page
    (this may take a few seconds to process).
</p>
<img width="25%" src="{{ url_for('/instructions.get_image', filename='control_post.png') }}">
<p>
    You will then be redirected to another page where you will be able
    to listen to the recording you just made before moving on to the
    next sentence.
</p>
{% endif %}

{% if next_panel == 'training' %}
    <a href="{{ url_for('/record.record', session='Session 1', trial_type='training', chapterorder='0') }}">Continue to training</a>
{% elif next_panel == 'menu' %}
    <a href="{{ url_for('/record.index') }}">Back to menu</a>
{% endif %}
</body>
</html>