<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta charset="UTF-8">
    <title>Training</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Training</h1>
<p>
    Now for the training! For each sentence, you will imitate a native speaker and compare your recording to theirs.
    Then you will get to try again with the same sentence, applying what you have learned, before repeating the process
    with the question version of the sentence. Remember we are focusing on intonation — basically the melody of speech —
    so don’t worry if you mispronounce a word.

</p>
{% if condition == 'a' %}
<ol>
    <li>Play the recording of the native speaker</li>
    <li>Press “Start” to record yourself</li>
    <li>Press “Stop” to stop recording and get to the next page (this may take a second or two)</li>
    <li>Take your time to compare both recordings and the comparative pitch plot in the new interface before trying again.</li>
</ol>

{% elif condition == 'b' %}
<ol>
    <li>Play the recording of the native speaker</li>
    <li>Press “Start” to record yourself</li>
    <li>Press “Stop” to stop recording and get to the next page (this may take a second or two)</li>
    <li>Take your time to listen to yourself and the native speaker before you try again in the next sentence.</li>
</ol>
{% endif %}

{% if next_panel == 'training' %}
    <a href="{{ url_for('/record.record', session=session, trial_type='training', chapterorder='0') }}">Continue to training</a>
{% elif next_panel == 'menu' %}
    <a href="{{ url_for('/record.index') }}">Back to menu</a>
{% endif %}
</body>
</html>